{% extends 'base.html'%}
{% load cloudinary %}     

{% block content %}
 
    <div class="container">

        <div class="card">           
            {% cloudinary project.image class="card-image" %}
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'project_details' project.id %}">{{ project.title }}</a>&middot;
                <span class="text-muted">by {{ project.creator }} |
                {{ project.date }}</span></h5>
              <p class="card-text">{{ project.description}}</p>
              
            </div>
            <div class="card-footer text-center text-muted">
                <a href="#" class="btn btn-sm btn-primary">Vote</a>
                {% if project.creator == user %}
                <a href="#" class="btn btn-sm btn-primary">Edit</a>
                <a href="#" class="btn btn-sm btn-primary">Delete</a>
                <!-- else vote -->
                {% endif %}
              </div>
          </div>

    </div>

{% endblock %}