<div class="design-box">
    <div class="aspect">
      Design
    </div>
    <div class="des-votes">
      <form action="" method="POST">
        {% csrf_token %}
        <button class="ml-3 btn btn-sm btn-vote" type="submit">1</button>
        <button class="btn btn-sm btn-vote" type="submit">2</button>
        <button class="btn btn-sm btn-vote" type="submit">3</button>
        <button class="btn btn-sm btn-vote" type="submit">4</button>
        <button class="btn btn-sm btn-vote" type="submit">5</button>
        <button class="btn btn-sm btn-vote" type="submit">6</button>
        <button class="btn btn-sm btn-vote" type="submit">7</button>
        <button class="btn btn-sm btn-vote" type="submit">8</button>
        <button class="btn btn-sm btn-vote" type="submit">9</button>
        <button class="btn btn-sm btn-vote" type="submit">10</button>
      </form>
    </div>
  </div>
  <div class="usability-box">
    <div class="aspect">
     Usability
    </div>
    <div class="use-votes">
      <form action="" method="POST">
        {% csrf_token %}
        <button class="ml-2 btn btn-sm btn-vote" type="submit">1</button>
        <button class="btn btn-sm btn-vote" type="submit">2</button>
        <button class="btn btn-sm btn-vote" type="submit">3</button>
        <button class="btn btn-sm btn-vote" type="submit">4</button>
        <button class="btn btn-sm btn-vote" type="submit">5</button>
        <button class="btn btn-sm btn-vote" type="submit">6</button>
        <button class="btn btn-sm btn-vote" type="submit">7</button>
        <button class="btn btn-sm btn-vote" type="submit">8</button>
        <button class="btn btn-sm btn-vote" type="submit">9</button>
        <button class="btn btn-sm btn-vote" type="submit">10</button>
      </form>
    </div>
  </div>
  <div class="content-box">
    <div class="aspect">
      Content
    </div>
    <div class="cont-votes">
      <form action="" method="POST">
        {% csrf_token %}
        <button class="ml-2 btn btn-sm btn-vote" type="submit">1</button>
        <button class="btn btn-sm btn-vote" type="submit">2</button>
        <button class="btn btn-sm btn-vote" type="submit">3</button>
        <button class="btn btn-sm btn-vote" type="submit">4</button>
        <button class="btn btn-sm btn-vote" type="submit">5</button>
        <button class="btn btn-sm btn-vote" type="submit">6</button>
        <button class="btn btn-sm btn-vote" type="submit">7</button>
        <button class="btn btn-sm btn-vote" type="submit">8</button>
        <button class="btn btn-sm btn-vote" type="submit">9</button>
        <button class="btn btn-sm btn-vote" type="submit">10</button>
      </form>
    </div>
  </div>

<!-- other -->
 {% for rating in project.reviews.all %}
                    <p>Reviewer: {{ rating.reviewer }}</p>
                    <p>Design: {{rating.design }}</p>
                    <p>Usability: {{rating.usability }}</p>
                    <p>Content: {{rating.content }}</p>
                    <p>Total: {{ rating.total_rating }}</p>
                {% endfor %} 

                

<span>Rating: </span>

<p>Average Rating in design: {{project.get_design_rating }}</p>
<p>Average Rating in Usability: {{project.get_usability_rating }}</p>
<p>Average Rating in Content: {{project.get_content_rating }}</p>
<p>{{project.get_reviews }}</p>