{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-10">
      
        <div class="card">
          <div class="c-head">
            {% if user.profile.photo %}
            {% cloudinary user.profile.photo class="rounded-circle prof-avi" %}
            {% else %}
            <img src="https://www.gravatar.com/avatar/8d004e48b85a0eec7f1027a206f67b9d?s=328&d=identicon&r=PG&f=1" alt="placeholder avatar" class="rounded-circle prof-avi">
            {% endif %}
            <h1 class="card-header">
              {{user.username}} <br>
              <small class="bio">{{user.profile.bio}}</small>

            </h1>
           
          </div>
          <div class="card-body">
            <div class="seperator">
                <h1>Awards: </h1>
            </div>
            {% if user == user %}
            <a href="{% url 'profile_update' user.id %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
            <hr>

            <div id="content-box">
              <div class="container">
                <!-- <h5 class="card-title">Timeline</h5> -->
                <div class="row">
                  
                  {% for project in object.user.projects.all %}
                  <div class="container-img col-md-6">
                    {% cloudinary project.image class="prof-display-img" %}
                    <div class="middle">
                      <div class="text"><a href="{% url 'project_details' project.id %}">View Project</a></div>
                    </div>
                  </div>
                  {% empty %}
                  <p><a href="{% url 'new_project' %}">Submit a project</a></p>
                  {% endfor %}
                 
                </div>
              </div>

            </div>
        
           
          </div>
          <!-- body -->
        </div>
        <!-- card -->
      </div>
    </div>
  </div>
    <h1></h1>
 
{% endblock %}